body {
  background-color: #e0dede;
}

h1 {
  text-align: center;
  font-style: italic;
}

h2 {
  text-align: center;
  font-style: italic;
  margin-bottom: 30px;
  font-size: 15px;
}

h3 {
  text-align: center;
  font-style: italic;
  margin-left: 300px;
}

.ds-card {
  width: 35rem;
}

.CodeMirror {
  height: auto !important;
}

.btn-run {
  margin-right: 40px; 
}

.java-editor {
  border: 1px solid #868686;
  margin: 20px 40px;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.modal-visualization {
  margin-top: 0.5rem;
  background-color: #e0dede;
  border-color: #343a40;
}

.modal-error {
  background-color:white;
  border-color: red;
}

.wrap-error {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: pre-wrap;
}

.text-error {
  word-spacing: 0.225rem;
}

.modal-error-title {
  color: red;
}

.click {
  cursor: pointer;
}
