body {
  background-color: #e0dede;
}

.CodeMirror {
  height: 700px !important;
}

.btn-run {
  margin-right: 40px; 
}

.java-editor {
  border: 1px solid #868686;
  margin: 20px 40px;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.modal-visualization {
  margin-top: 0.5rem;
}
